.statisticsContainer h1 {
  display: block;
  text-align: center;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 0;
  font-size: 1em;
}

.statisticsContainer {
  display: flex;
  flex-direction: column;
}

.statisticsContainer h2 {
  margin: 0 auto;
  max-width: 180px;
  border-bottom: 1px solid var(--primary);
  text-align: center;
}

.numberTasted {
  align-self: center;
}

.numberTasted strong,
.percentageContainer strong,
.priceContainer strong {
  font-size: 48px;
  padding: 0 10px;
}

.percentageContainer,
.priceContainer {
  text-align: center;
}

.destileriesContainer,
.countriesContainer {
  background-color: var(--primary);
  padding: 20px;
  margin: 20px -10px;
}

.districtsContainer,
.percentageContainer {
  padding: 0 20px;
  margin: 0 -10px;
}

.destileriesContainer ul,
.districtsContainer ul,
.countriesContainer ul {
  padding-inline-start: 0;
  list-style-type: none;
}

.destileriesContainer li,
.districtsContainer li,
.countriesContainer li {
  width: 100%;
  display: grid;
  grid-template-columns: 95% auto;
  columns: 2;
}

.destileriesContainer span,
.districtsContainer span,
.countriesContainer span {
  font-size: 1.5em;
  justify-self: center;
  align-self: center;
}

.fullWidthBlock {
  margin: 40px auto;
  padding: 40px 0;
  background: var(--primary);
  width: 100vw;
}

@media only screen and (min-width: 760px) {
  .destileriesContainer {
    padding: 40px 20px;
    margin: 40px 0;
  }

  .statisticsContainer h1 {
    display: none;
  }

  .chart {
    display: block;
    width: 700px;
    margin: 0 auto;
  }

  .countryChart,
  .destilleryChart {
    margin-top: 40px;
  }

  .chart strong {
    font-size: 30px;
    padding: 0 10px;
    font-family: "Noto Serif";
  }

  .chart h2 {
    font-size: 1em;
  }
}

@media only screen and (min-width: 900px) {
  .chart {
    width: 800px;
  }

  .percentageContainer,
  .priceContainer {
    margin: 40px 0;
  }
}

@media only screen and (min-width: 1200px) {
  .col-2 {
    display: flex;
    justify-content: center;
  }

  .countryChart {
    width: 350px;
    margin: 0 20px;
  }

  .regionChart {
    width: 600px;
    margin: 0 20px;
  }
}
