/**** HAMBURGER ***/
nav {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 55px;
}

nav img {
  border-radius: 50%;
  width: 55px;
}

.closeNav {
  display: block;
  margin-bottom: 50px;
  padding: 10px 15px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 4px;
  font-size: 1.2rem;
  font-family: "Noto Serif";
  color: var(--secondary);
  width: auto;
  align-self: flex-end;
}

.closeNav:hover {
  border: 1px solid var(--primary);
  background: none;
  color: var(--primary);
  cursor: pointer;
  align-self: flex-end;
}

.logOutBtn {
  display: block;
  margin: 25px 0;
  padding: 10px 15px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 4px;
  font-size: 1.2rem;
  font-family: "Noto Serif";
  color: var(--secondary);
}

.logOutBtn:hover {
  border: 1px solid var(--primary);
  background: none;
  color: var(--primary);
  cursor: pointer;
}
