.productDataContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 20px;
}

.productData {
  text-align: left;
}

.productData li {
  list-style-type: none;
  margin-left: -5px;
}

.productData ul {
  padding-left: 0;
}
