.searchForm {
  display: flex;
  flex-direction: column;
}
.searchForm input {
  margin: 0 auto;
}
.searchForm .search {
  display: block;
  margin: 20px auto;
}

.searchResults {
  display: none;
}

.displayData ul {
  padding: 0;
}

.displayData li {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border: 2px solid var(--primary);
}

.displayData li:hover {
  background: var(--primary);
  color: white;
  cursor: pointer;
}

@media only screen and (min-width: 800px) {
  .searchForm {
    flex-direction: row;
  }

  .getWhiskyInfo {
    min-width: 750px;
    display: flex;
    flex-direction: column;
  }

  .searchForm .search {
    margin: 0 0 0 20px;
  }
}
