.getWhiskyInfo {
  min-width: 750px;
  display: flex;
  flex-direction: column;
}

.searchForm {
  display: flex;
}

.searchForm .search {
  display: block;
  margin-left: 20px;
}

.searchResults {
  display: none;
}

.displayData ul {
  padding: 0;
}

.displayData li {
  display: inline-block;
  margin: 5px;
  padding: 5px 10px;
  border: 2px solid var(--primary);
}

.displayData li:hover {
  background: var(--primary);
  color: white;
  cursor: pointer;
}
