.whiskyDetailsContainer {
  display: flex;
  width: 100%;
  flex-direction: column;
  padding: 20px;
}

.whiskyDetails {
  text-align: left;
}

.whiskyDetails li {
  list-style-type: none;
  margin-left: 0;
}

.whiskyDetails ul {
  padding-left: 0;
}
