/* image grid styles */
.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.image {
  position: relative;
}

.image::after {
  content: "";
  display: block;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.loading {
  margin: 150px auto;
  text-align: center;
  width: 100vw;
}

@media only screen and (min-width: 800px) {
  .img-grid {
    grid-template-columns: 1fr 1fr;
  }

  .image:hover {
    opacity: 0.9;
  }
}

@media only screen and (min-width: 1400px) {
  .img-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
