/* image grid styles */
.img-grid {
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

.image {
  overflow: hidden;
  height: 0;
  padding: 50% 0;
  /* padding controls height, will always be perfectly square regardless of width */
  position: relative;
}

.image::after {
  content: "";
  display: block;
}

.image img {
  width: 100%;
  min-width: 100%;
  min-height: 100%;
  max-width: 150%;
  position: absolute;
  top: 0;
  left: 0;
}

.loading {
  margin: 150px auto;
  text-align: center;
  width: 100vw;
}

@media only screen and (min-width: 800px) {
  .img-grid {
    grid-template-columns: 1fr 1fr;
  }

  .image:hover {
    opacity: 0.9;
  }
}

@media only screen and (min-width: 1400px) {
  .img-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
