/* upload form styles */
form {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 70%;
  left: 0;
  right: 0;
  top: 15%;
  margin: 0 auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
  border-bottom: 0;
  background: white;
  justify-items: center;
  align-items: center;
  z-index: 1;
  padding: 40px;
}

@media only screen and (min-width: 800px) {
  form {
    width: 40%;
    top: 25%;
  }
}

input,
button,
label,
textarea {
  width: 300px;
}

label input {
  height: 0;
  width: 0;
  opacity: 0;
}

input[type="text"],
textarea {
  border: 1px solid var(--secondary);
  border-radius: 4px;
  display: inline-block;
  padding: 12px 14px;
  color: var(--secondary);
  font-size: 14px;
}

textarea {
  height: 150px;
  margin-top: 30px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid var(--primary);
  border-radius: 4px;
  display: inline-block;
  padding: 10px 14px;
  cursor: pointer;
  color: var(--primary);
  text-align: center;
  margin-top: 10px;
}

.custom-file-upload:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.output {
  height: 60px;
  font-size: 0.8rem;
}
.error {
  color: var(--error);
}

.addNewBtn {
  display: block;
  margin: 0 auto 0;
  padding: 10px 15px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 4px;
  font-size: 1.2rem;
  font-family: "Noto Serif";
  color: var(--secondary);
}

.addNewBtn:hover {
  border: 1px solid var(--primary);
  background: none;
  color: var(--primary);
  cursor: pointer;
}
