.map-container {
  position: absolute;
  width: 100%;
  height: 750px;
  left: 0;
  margin-top: 50px;
}

.mapboxgl-ctrl-bottom-left,
.mapboxgl-ctrl-attrib-button,
.mapboxgl-ctrl {
  display: none;
}

@media only screen and (min-width: 1200px) {
  .map-container {
    position: block;
    width: 500px;
    height: 500px;
    left: auto;
    margin: 0;
    /* border-radius: 50%; */
    /* border: 1px solid var(--primary); */
  }
}

@media only screen and (min-width: 1600px) {
  .map-container {
    position: block;
    width: 500px;
    height: 500px;
    left: auto;
    margin: 0;
    /* border-radius: 50%; */
    /* border: 1px solid var(--primary); */
  }

  .whiskyContainer .map {
    -webkit-mask: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.2) 10%,
        white 10% 90%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0.2) 10%,
        white 10% 90%,
        rgba(0, 0, 0, 0.2) 100%
      );
    mask: linear-gradient(
        to right,
        rgba(0, 0, 0, 0.2) 10%,
        white 10% 90%,
        rgba(0, 0, 0, 0.2) 100%
      ),
      linear-gradient(
        rgba(0, 0, 0, 0.2) 10%,
        white 10% 90%,
        rgba(0, 0, 0, 0.2) 100%
      );
    -webkit-mask-composite: source-in; /* For Chrome */
    mask-composite: intersect; /* For Firefox */
  }
}
