.logo {
  display: block;
  max-width: 90px;
  height: auto;
  margin: 20px auto 40px auto;
}

.logo:hover {
  cursor: pointer;
}

.logoTitle {
  display: none;
}

@media only screen and (min-width: 800px) {
  .logoTitle {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: var(--seconadry);
    margin: -30px auto 20px auto;
    width: 60px;
  }

  a {
    text-decoration: none;
    color: var(--seconadry);
  }
}

@media only screen and (min-width: 1920px) {
  .logo {
    position: absolute;
    left: 0;
    top: 0;
  }

  .logoTitle {
    display: block;
    font-size: 18px;
    text-decoration: none;
    color: var(--seconadry);
    position: absolute;
    left: 12px;
    top: 105px;
    margin: 10px 0;
  }
}
