@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
  --medium: 800px;
}

/* base styles & title */
body {
  font-family: "Noto Serif";
  color: var(--secondary);
}
.App {
  max-width: 960px;
  margin: 0 auto;
}

@media only screen and (min-width: 1400px) {
  .App {
    max-width: 1400px;
    margin: 0 auto;
  }
}

.title h1 {
  margin-top: 20px;
  font-size: 2.6rem;
}

.title h1,
.title p {
  text-align: center;
}

.logo {
  display: block;
  max-width: 90px;
  height: auto;
  margin: 20px auto 0;
}

@import "./comps/Forms/ProgressBar.css";
@import "./comps/Forms/UploadForm.css";
@import "./comps/ImageGrid/ImageGrid.css";
@import "./comps/Modal/Modal.css";
@import "./comps/StarRating/StarRating.css";
@import "./comps/User/User.css";
@import "./comps/Navigation/Navigation.css";
@import "./comps/WhiskyDetails/WhiskyDetails.css";

/* Whisky page */
@import "./comps/WhiskyItem/WhiskyItem.css";
