@import url("https://fonts.googleapis.com/css2?family=Noto+Serif:wght@400;700&display=swap");

:root {
  --primary: #efb6b2;
  --secondary: #4e4e4e;
  --error: #ff4a4a;
  --medium: 800px;
}

/* base styles & title */
body {
  font-family: "Noto Serif";
  color: var(--secondary);
}
.App {
  max-width: 960px;
  margin: 0 auto;
}
.title h1 {
  margin-top: 20px;
  font-size: 2.6rem;
}

.title h1,
.title p {
  text-align: center;
}

.logo {
  display: block;
  max-width: 90px;
  height: auto;
  margin: 20px auto 0;
}

.loginBtn {
  display: block;
  margin: 50px auto 0;
  padding: 10px 15px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 4px;
  font-size: 1.2rem;
  font-family: "Noto Serif";
  color: var(--secondary);
  cursor: pointer;
}

.loginBtn:hover {
  border: 1px solid var(--primary);
  background: none;
  color: var(--primary);
  cursor: pointer;
}

/* upload form styles */
form {
  position: absolute;
  display: flex;
  flex-direction: column;
  max-width: 70%;
  left: 0;
  right: 0;
  top: 15%;
  margin: 0 auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
  border-bottom: 0;
  background: white;
  justify-items: center;
  align-items: center;
  z-index: 1;
  padding: 40px;
}

@media only screen and (min-width: 800px) {
  form {
    width: 40%;
    top: 25%;
  }
}

input,
button,
label,
textarea {
  width: 300px;
}

label input {
  height: 0;
  width: 0;
  opacity: 0;
}

input[type="text"],
textarea {
  border: 1px solid var(--secondary);
  border-radius: 4px;
  display: inline-block;
  padding: 12px 14px;
  color: var(--secondary);
  font-size: 14px;
}

textarea {
  height: 150px;
  margin-top: 30px;
}

input[type="file"] {
  display: none;
}

.custom-file-upload {
  border: 1px solid var(--primary);
  border-radius: 4px;
  display: inline-block;
  padding: 10px 14px;
  cursor: pointer;
  color: var(--primary);
  text-align: center;
  margin-top: 10px;
}

.custom-file-upload:hover {
  background-color: var(--primary);
  color: var(--secondary);
}

.output {
  height: 60px;
  font-size: 0.8rem;
}
.error {
  color: var(--error);
}

.addNewBtn {
  display: block;
  margin: 0 auto 0;
  padding: 10px 15px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 4px;
  font-size: 1.2rem;
  font-family: "Noto Serif";
  color: var(--secondary);
}

.addNewBtn:hover {
  border: 1px solid var(--primary);
  background: none;
  color: var(--primary);
  cursor: pointer;
}

/* progress bar styles */
.progress-bar {
  height: 5px;
  background: var(--primary);
  margin-top: 20px;
}

/* image grid styles */
.img-grid {
  margin: 40px auto;
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 10px;
}

@media only screen and (min-width: 800px) {
  .img-grid {
    grid-template-columns: 1fr 1fr 1fr;
  }
}

.image {
  position: relative;
  opacity: 0.9;
}
.image::after {
  content: "";
  display: block;
}

.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* modal styles */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.modal-container {
  max-width: 95%;
  margin: 10vh auto;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
  border-bottom: 0;
  background: white;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
  justify-content: center;
}

@media only screen and (min-width: 800px) {
  .modal-container {
    display: grid;
    grid-template-columns: 1fr 500px;
    grid-template-rows: auto;
    margin: 60px auto;
    grid-gap: 0;
    justify-items: flex-start;
    align-items: flex-start;
  }
}

.modal-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

@media only screen and (min-width: 800px) {
  .modal-content {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: inherit;
  }
}

.modal-content textarea {
  width: auto;
  margin: 20px;
  height: 100px;
}

@media only screen and (min-width: 800px) {
  .modal-content textarea {
    grid-row: 2;
    grid-column: 2/2;
  }
}

.modal-container h2 {
  align-self: center;
  font-size: 1.5rem;
  margin: 10px;
  margin-bottom: 0;
}

@media only screen and (min-width: 800px) {
  .modal-container h2 {
    font-size: 2.2rem;
    margin: 20px;
    grid-row: auto;
    grid-column: 2/2;
    text-align: center;
  }
}

.modal-stars {
  height: 40px;
  margin: 0 auto;
  padding: 5px;
  width: 200px;
}

@media only screen and (min-width: 800px) {
  .modal-container .modal-stars {
    grid-column: 2;
    margin: 20px auto;
  }
}

.modal-stars .stars {
  margin: 0 auto;
}

.modal-img {
  position: relative;
}
.modal-img::after {
  content: "";
  display: block;
}

.modal-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media only screen and (min-width: 800px) {
  .modal-img {
    grid-column: 1;
    grid-row: 1/3;
  }
}

/* STAR RATING STYLES */
.stars {
  border: 0;
  margin: 20px 0 0;
  padding: 0;
  font-size: 100%;
}

.stars li {
  float: left;
  list-style: none;
  width: 20%;
  max-width: 40px;
  line-height: 0;
  margin-bottom: 10px;
  text-align: center;
  padding: 0 5px;
  box-sizing: border-box;
}

.stars li:first-child {
  margin-left: -2px;
}

.stars li:hover {
  cursor: pointer;
}

.stars .star {
  width: auto;
  height: 100%;
  fill: #3658a25f;
}

.stars .selected .star {
  fill: #2d4f9a;
}

.rating {
  display: block;
  width: 100%;
  height: 50px;
}

.starRating {
  display: block;
  margin: 10px auto 20px auto;
  height: 50px;
  width: 200px;
}

/***** User *****/

.userIsLoggedIn {
  position: absolute;
  top: 15px;
  right: 15px;
  overflow: hidden;
}

.userIsLoggedIn p {
  display: none;
}

.userContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-items: center;
  margin-top: 50px;
}

.userContent p {
  display: block;
  font-size: 1.2rem;
  padding: 0 15px;
}

@media only screen and (min-width: 800px) {
  .userContent {
    margin-top: 0;
  }
}

.userContent img {
  border-radius: 50%;
  max-width: 70px;
  width: 100%;
  height: auto;
  display: block;
}

.userPage {
  position: fixed;
  box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
  border: 3px solid white;
  height: 100%;
  width: 290px;
  padding: 15px;
  margin-right: -350px;
  background: white;
  top: 0;
  right: 0;
  z-index: 999;
  transition-duration: 1s;
  overflow: hidden;
}

.show {
  margin-right: 0 !important;
  transition-duration: 1s;
}

/**** HAMBURGER ***/

nav {
  position: absolute;
  top: 20px;
  right: 20px;
  z-index: 999999;
  width: 80px;
}

.active {
  position: fixed;
}

.logOutBtn {
  display: block;
  margin: 25px auto;
  padding: 10px 15px;
  background-color: var(--primary);
  border: 1px solid var(--primary);
  border-radius: 4px;
  font-size: 1.2rem;
  font-family: "Noto Serif";
  color: var(--secondary);
}

.logOutBtn:hover {
  border: 1px solid var(--primary);
  background: none;
  color: var(--primary);
  cursor: pointer;
}

@media only screen and (min-width: 800px) {
  nav {
    top: 20px;
    right: 20px;
    width: 200px;
  }

  .active {
    right: 230px;
    transition-duration: 1s;
  }

  .logOutBtn {
    margin: 25px 0;
  }
}

/*!
 * Hamburgers
 * @description Tasty CSS-animated hamburgers
 * @author Jonathan Suh @jonsuh
 * @site https://jonsuh.com/hamburgers
 * @link https://github.com/jonsuh/hamburgers
 */
.hamburger {
  padding: 15px 15px;
  display: inline-block;
  cursor: pointer;
  transition-property: opacity, filter;
  transition-duration: 0.15s;
  transition-timing-function: linear;
  font: inherit;
  color: inherit;
  text-transform: none;
  background-color: transparent;
  border: 0;
  margin: 0;
  overflow: visible;
  outline: none;
  width: 50px;
}
.hamburger:hover {
  opacity: 0.7;
}
.hamburger.is-active:hover {
  opacity: 0.7;
}
.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner::before,
.hamburger.is-active .hamburger-inner::after {
  background-color: #000;
}

.hamburger-box {
  width: 40px;
  height: 24px;
  display: inline-block;
  position: relative;
}

.hamburger-inner {
  display: block;
  top: 50%;
  margin-top: -2px;
}
.hamburger-inner,
.hamburger-inner::before,
.hamburger-inner::after {
  width: 40px;
  height: 4px;
  background-color: #000;
  border-radius: 4px;
  position: absolute;
  transition-property: transform;
  transition-duration: 0.15s;
  transition-timing-function: ease;
}
.hamburger-inner::before,
.hamburger-inner::after {
  content: "";
  display: block;
}
.hamburger-inner::before {
  top: -10px;
}
.hamburger-inner::after {
  bottom: -10px;
}

.hamburger--slider .hamburger-inner {
  top: 2px;
}
.hamburger--slider .hamburger-inner::before {
  top: 10px;
  transition-property: transform, opacity;
  transition-timing-function: ease;
  transition-duration: 0.15s;
}
.hamburger--slider .hamburger-inner::after {
  top: 20px;
}

.hamburger--slider.is-active .hamburger-inner {
  transform: translate3d(0, 10px, 0) rotate(45deg);
}
.hamburger--slider.is-active .hamburger-inner::before {
  transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
  opacity: 0;
}
.hamburger--slider.is-active .hamburger-inner::after {
  transform: translate3d(0, -20px, 0) rotate(-90deg);
}
